@keyframes overlay-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modalOverlay {
  animation-name: overlay-animation;
  animation-duration: 0.3s;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0,0,0,0.8);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;

  .cardContent {
    padding: 15px;
    background: white;
    border-radius: 5px;
    max-width: 100%;

    input[type=text], textarea {
      width: 100%;
      margin: 10px 0px;
      box-sizing: border-box !important;
      padding: 5px 10px;
    }
  }
}