@import "../App.scss";

.sidebar {
    transition: 0.3s;
    min-width: 250px;
    height: 100%;
    background: $main-color;
    overflow: hidden;

    .sidebarHeader {
      height: 50px;
      line-height: 50px;
      padding: 0px 15px;
      background: $secondary-color;
      color: white;
      font-weight: bold;
    }

    .sidebarItem {
      font-weight: bold;
      color: white;
      width: 100%;
      padding: 15px;
      transition: 0.3s;
      cursor: pointer;
      align-items: center;

      &:hover {
        background: rgba(0,0,0,0.3);
      }
      &:active {
        background: rgba(0,0,0,0.1);
      }
    }

    .label {
      font-size: 13px !important;
      display: flex;
      align-items: center;

      .deleteBtn {
        &:hover {
          transform: scale(1.3);
          color: $danger-color;
        }
      }
    }

    .sidebarLabels {
      overflow-y: auto;
      overflow-x: hidden;
      max-height: 400px;
    }

    .sidebarLabels::-webkit-scrollbar {
      display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .sidebarLabels {
      scrollbar-width: 2px;  /* Firefox */
    }

    hr {
      width: 80% !important;
    }

    .dot {
      width: 5px;
      height: 5px;
      background: orange;
      border-radius: 100px;
    }
  }

  .sidebarMobile {
    @media screen and (max-width: 835px) {
      position: fixed;
      left: -250px;
      top: 0;
      bottom: 0;
      z-index: 99;
    }
  }

  .openSidebar {
    left: 0px !important;
  }

  .sidebarOverlay {
    position: fixed;
    background: rgba(0,0,0,0.3);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 98;
  }

  .closeSidebarButton {
    float: right;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 0px 0px 0px 15px;
    border: 2px solid white;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      background: transparent;
      color: red;
    }
  }